<div class="errors-container">

  <img class="logo-simple" src="/assets/img/logo-simple.png" alt="CryptoWars">

  <div class="e11-box-container">
    <div class="box-content">

      <ng-template [ngIf]="error == 'no_web3_provider'">
        <img class="metamask-logo" src="/assets/img/metamask-fox.png" alt="Metamask"/>
        <h2>{{'APPWIDE.ERRORS.NO_WEB3_PROVIDER.title' | translate}}</h2>
        <p class="metamask-desc">
          {{'APPWIDE.ERRORS.NO_WEB3_PROVIDER.text' | translate}}
        </p>
        <button class="e11-button" type="button" name="button" (click)="installMetamask()">
          {{'APPWIDE.ERRORS.NO_WEB3_PROVIDER.title' | translate}}
        </button>
      </ng-template>

      <ng-template [ngIf]="error == 'not_e11_poa'">
        <img class="metamask-logo" src="/assets/img/metamask-e11.png" alt="Metamask E11"/>
        <h2>{{'APPWIDE.ERRORS.NOT_E11_POA.title' | translate}}</h2>
        <p class="metamask-desc">
          {{'APPWIDE.ERRORS.NOT_E11_POA.text' | translate}}(<strong>http://poa.e11.io:8311</strong>)
          <br><br>
          {{'APPWIDE.ERRORS.NOT_E11_POA.guide' | translate}}
        </p>
      </ng-template>

      <ng-template [ngIf]="error == 'locked'">
        <img class="metamask-logo" src="/assets/img/metamask-lock.png" alt="Metamask Locked"/>
        <h2>{{'APPWIDE.ERRORS.LOCKED.title' | translate}}</h2>
        <p class="metamask-desc">
          {{'APPWIDE.ERRORS.LOCKED.text' | translate}}
          <br><br>
          {{'APPWIDE.ERRORS.LOCKED.guide' | translate}}
        </p>
      </ng-template>

      <ng-template [ngIf]="error == 'metamask_error'">
        <img class="metamask-logo" src="/assets/img/metamask-oops.png" alt="Whoops"/>
        <h2>{{'APPWIDE.ERRORS.METAMASK_ERROR.title' | translate}}</h2>
        <p class="metamask-desc">
          {{'APPWIDE.ERRORS.METAMASK_ERROR.text' | translate}}
          <br><br>
          {{'APPWIDE.ERRORS.METAMASK_ERROR.guide' | translate}}
        </p>
      </ng-template>

      <ng-template [ngIf]="error == 'not_e11_poa' || error == 'locked' || error == 'metamask_error'">
        <button class="e11-button" type="button" name="button" (click)="openGuide()">
          {{'APPWIDE.ERRORS.guide' | translate}}
        </button>
      </ng-template>

    </div>
  </div>
</div>
