<div class="errors-container">

  <img class="logo-simple" src="/assets/img/logo-simple.png" alt="CryptoWars">

  <div class="e11-box-container">
    <div class="box-content">

      <ng-template [ngIf]="error == 'no_web3_provider'">
        <img class="metamask-logo" src="/assets/img/metamask-fox.png" alt="Metamask"/>
        <h2>Install MetaMask</h2>
        <p class="metamask-desc">
          You will need a safe place to store your Quantum Dust: MetaMask.
          Metamask will also act as your login to the game (no extra password needed).
        </p>
        <button class="e11-button" type="button" name="button" (click)="installMetamask()">
          Install Metamask
        </button>
      </ng-template>

      <ng-template [ngIf]="error == 'not_e11_poa'">
        <img class="metamask-logo" src="/assets/img/metamask-e11.png" alt="Metamask E11"/>
        <h2>Switch to our network</h2>
        <p class="metamask-desc">
          You need to switch MetaMask to our own Ethereum network.
          To do this, open MetaMask and add our "Custom RPC" (<strong>http://poa.e11.io:8311</strong>)
          <br><br>
          If you have any issues, check this short step-by-step guide.
        </p>
      </ng-template>

      <ng-template [ngIf]="error == 'locked'">
        <img class="metamask-logo" src="/assets/img/metamask-lock.png" alt="Metamask Locked"/>
        <h2>Unlock MetaMask</h2>
        <p class="metamask-desc">
          It seems that your MetaMask is locked. Please enter your password and click "Unlock".
          <br><br>
          If you have any issues, check this short step-by-step guide.
        </p>
      </ng-template>

      <ng-template [ngIf]="error == 'metamask_error'">
        <img class="metamask-logo" src="/assets/img/metamask-oops.png" alt="Whoops"/>
        <h2>Whoops!</h2>
        <p class="metamask-desc">
          Something unexpected happened, please refresh this site and try again.
          <br><br>
          If the issue persists, please check our troubleshooting guide.
        </p>
      </ng-template>

      <ng-template [ngIf]="error == 'not_e11_poa' || error == 'locked' || error == 'metamask_error'">
        <button class="e11-button" type="button" name="button" (click)="openGuide()">
          Check step-by-step guide
        </button>
      </ng-template>

    </div>
  </div>
</div>
