<div class="errors-container">

  <img class="logo-simple" src="/assets/img/logo-simple.png" alt="CryptoWars">

  <div class="e11-box-container">
    <div class="box-content">
      <img class="metamask-logo" src="/assets/img/e11-logo-dark.png" alt="Experimental"/>
      <h2>This is a private beta</h2>
      <p class="metamask-desc">
          This game is only available to Experimental collaborators.
          <br>
          If you'd like to join our pre-sale and become a collaborator, please click the button below.
      </p>
      <a href="http://eepurl.com/c3E_xb" target="_blank">
        <button class="e11-button" type="button" name="button">
          Become a collaborator
        </button>
      </a>
    </div>
  </div>

</div>
