<div class="errors-container">

  <img class="logo-simple" src="/assets/img/logo-simple.png" alt="CryptoWars">

  <div class="e11-box-container">
    <div class="box-content">
      <img class="metamask-logo" src="/assets/img/e11-logo-dark.png" alt="Experimental"/>
      <h2>{{'ONBOARDING.ERRORS.PRIVATE_ACCESS.title' | translate}}</h2>
      <p class="metamask-desc">
          {{'ONBOARDING.ERRORS.PRIVATE_ACCESS.only-collaborators' | translate}}
          <br>
          {{'ONBOARDING.ERRORS.PRIVATE_ACCESS.presale-info' | translate}}
      </p>
      <a href="http://eepurl.com/c3E_xb" target="_blank">
        <button class="e11-button" type="button" name="button">
          {{'ONBOARDING.ERRORS.PRIVATE_ACCESS.join-button' | translate}}
        </button>
      </a>
    </div>
  </div>

</div>
