<div class="village-logs-container e11-box-container">
    <div class="box-header">
        Village Log
    </div>
    <div class="box-content stripe">
        <div class="box-option">
          <div class="bullet"></div>
          <div class="message">
            Coming soon
          </div>
        </div>
        <!--
        <div class="box-option">
            <div class="bullet"></div>
            <div class="message">
                Finished building (Barracks Lv. 1)
            </div>
        </div>
        <div class="box-option">
            <div class="bullet building"></div>
            <div class="message">
                Finished building (Barracks Lv. 1)
            </div>
        </div>
        <div class="box-option">
            <div class="bullet building"></div>
            <div class="message">
                Finished building (Barracks Lv. 1)
            </div>
        </div>
        <div class="box-option">
            <div class="bullet building"></div>
            <div class="message">
                Finished building (Barracks Lv. 1)
            </div>
        </div>
        -->
    </div>
</div>
