@import 'src/assets/e11-theme/variables';

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;

  .logo-simple {
    width: 48rem;
    max-width: $app-errors-container-max-width;
    margin-bottom: 7rem;
  }

  .e11-box-container {
    width: 45rem;
    flex-shrink: 0;
    max-width: $app-errors-container-max-width * 2;
    margin-bottom: 10vh;

    .box-content {
      padding: 3rem 5.4rem 2rem 5.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .desc {
        margin: 2.5rem 0;
        text-align: center;
        color: $color-text-grey;
        font-size: 1.4rem;
        .underlined {
          font-size: 1.4rem;
          text-decoration: underline;
          cursor: pointer;
        }
      }

    }
  }

}
