@mixin e11-box-container() {
    $box-background: $color-light-alt;
    $box-border: 1px solid $color-border;
    $box-content-padding: 1rem;

    $extra-button-background: #232B3B;
    $extra-button-size: 6.6rem;

    $box-stripe-background-dark: #1B2431;

    .e11-box-container {
        @extend .rounded;
        display: flex;
        flex-direction: column;
        background: $box-background;
        border: $box-border;

        .box-header {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: bold;
            padding: 2rem;

            .e11-icon {
              margin-right: 5px;
            }
        }

        .box-content {
            overflow: hidden;
            overflow-y: auto;

            .box-option {
                display: flex;
                align-items: center;
                color: $color-light;
                padding: $box-content-padding;

                span, p, strong {
                  font-size: 1.4rem;
                  opacity: .6;
                }
                strong {
                  opacity: 1;
                }

                .bullet, .bullet-outline {
                    margin-right: 15px;
                }

                .e11-button {
                  width: 100%;
                }
                .item-avatar {
                  @extend .rounded;
                  flex-shrink: 0;
                  margin-right: .9rem;
                  overflow: hidden;
                }

                &.input {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;

                  &:last-child {
                    .e11-input {
                      margin-bottom: 0;
                    }
                  }
                  h3 {
                    color: $color-text;
                    margin-bottom: 1rem;
                  }
                  .e11-input {
                    width: 100%;
                  }
                }
            }

            &.stripe {
              .box-option:nth-child(even) {
                  background: $box-background;
              }
              .box-option:nth-child(odd) {
                  background: $box-stripe-background-dark;
              }
            }
            &.define {
              .box-option {
                border-bottom: 1px solid $color-border;
                &:last-child {
                  border-bottom: none;
                }
              }
            }
            &.empty {
              @extend .centered;
              display: flex;
              flex: 1;
              margin: $box-content-padding;
              margin-top: 0;
              padding: $box-content-padding;
              border: 1px solid $color-border;
              background: $color-dark-alt;
              color: $color-text-grey;
              span {
                font-size: 1.4rem;
                line-height: 2rem;
                text-align: center;
              }
            }
        }

        .box-extra-button {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          background: $extra-button-background;
          height: $extra-button-size;
          font-size: 1.6rem;
          cursor: pointer;
        }

    }
}
