@mixin e11-catalog() {

  $catalog-item-width: 27rem;
  $catalog-item-button-height: 3.7rem;
  $catalog-item-padding: 1rem;

  .e11-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .loading-text {
      display: flex;
      font-size: 2rem;
      align-items: center;
      flex: 1;
      justify-content: center;
      color: $color-text-grey;
    }

    .catalog-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: inherit;
    }

    .catalog-item {
      @extend .e11-box-container;
      display: flex;
      flex-direction: column;
      padding: $catalog-item-padding;
      width: 27rem;
      flex-shrink: 0;
      margin: 1rem;
      position: relative;

      .hover-area {
        position: relative;
        &:hover .item-hover-info {
          display: flex;
        }
      }
      .item-hover-info {
        display: none;
        flex-direction: column;
        position: absolute;
        background: rgba(13, 24, 25, 0.9);
        border: 1px solid $color-border;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: $catalog-item-padding;
        z-index: 1;
      }
      .item-info {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 1px;
        padding-top: 1.4rem;
        flex: 1;

        .item-description {
          flex: 1;
        }
      }

      .item-avatar {
        flex: 1;
        height: 16rem;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-start;
        border-radius: $app-default-radius;
        &.disabled {
          opacity: .3;
        }
        .e11-badge {
          margin: 1rem;
        }
      }

      .item-title {
        font-size: 1.6rem;
        padding-bottom: .5rem;
        display: flex;
        flex-wrap: wrap;

        > * {
          margin-right: .8rem;
          &:last-child {
            margin-right: 0;
          }
        }

        &.item-name, .item-name {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          flex: 1;
        }
        .item-price {
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .bullet-outline {
            margin-right: .5rem;
          }
        }

        .item-time {
          font-size: 1.3rem;
          display: flex;
          align-items: center;
          color: $color-text-grey;
          flex: 1 100%;
          margin-top: .2rem;

          .e11-icon {
            margin-right: .5rem;
          }
        }
      }

      .item-description,
      .item-stats span {
        font-size: 1.2rem;
        color: $color-text-grey;
      }

      .item-stats {
        display: flex;
        flex-direction: column;
        .stat-value {
          color: $color-text;
        }
        .stat-upgraded {
          color: $color-success;
        }
      }

      .item-slider {
        margin-top: 1.5rem;
        margin-bottom: .5rem;
      }
      .item-button {
        margin-top: 1rem;
        justify-content: center;
        min-height: $catalog-item-button-height;
        z-index: 1;
      }
    }

    .requirements-overview {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $app-default-radius;
      border: 1px solid rgba(255,255,255,0.1);
      padding: .6rem;
      padding-left: 1.2rem;
      margin-top: 1rem;

      span {
        margin-right: 1.5rem;
        font-size: 1.4rem;
      }
      .requirement-image {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2px;
        margin-right: 1.2rem;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        &[tooltip]:before {
          font-size: 1.2rem;
          padding: .6rem;
          white-space: nowrap;
        }
      }
    }

    .item-unavailable {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $color-light-alt;
      opacity: 0.95;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: $color-text-grey;
      z-index: 2;
      padding: 2rem 4rem;
      padding-bottom: 1rem;
      overflow: hidden;

      .e11-icon {
        font-size: 3.5rem;
        margin-bottom: 1rem;
        flex-shrink: 0;
      }
      .title {
        margin: 0;
        margin-bottom: 1.2rem;
      }
      .title, .requirements, .requirements span {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: bold;
        text-align: center;
      }
      strong {
        text-decoration: underline;
      }
    }
  }

}
