$app-default-radius: 4px;
$app-default-animation: .2s ease-in-out;
$app-default-font-family: "Roboto", sans-serif;
$app-errors-container-max-width: 23vw;

$color-text: #FFFFFF;
$color-text-grey: #7F8FA4;
$color-border: #313D4F;

$color-dark: #1B2431;
$color-dark-alt: #222C3C;

$color-light: #6C7992;
$color-light-alt: #273142;

$color-contrast: #20547F;
$color-contrast-light: #1A91EB;

$color-primary: #1991EB;
$color-primary-alt: #1682D3;

$color-resource-e11: #2D6FA8;
$color-resource-quantum: #9013FE;
$color-resource-crystal: #2AB5D6;
$color-resource-gold: #D9CA2B;

$color-warning: #DA932C;
$color-error: #D35847;
$color-success: #66B92E;
