@charset "UTF-8";

$font-path: 'assets/e11-theme/fonts/e11-font';

@font-face {
  font-family: "e11";
  src:url($font-path + ".eot");
  src:url($font-path + ".eot?#iefix") format("embedded-opentype"),
    url($font-path + ".woff") format("woff"),
    url($font-path + ".ttf") format("truetype"),
    url($font-path + ".svg#e11") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "e11" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="e11f-"]:before,
[class*=" e11f-"]:before {
  font-family: "e11" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.e11f-building:before {
  content: "\61";
}
.e11f-check:before {
  content: "\62";
}
.e11f-clock:before {
  content: "\63";
}
.e11f-dashboard:before {
  content: "\64";
}
.e11f-error:before {
  content: "\65";
}
.e11f-open:before {
  content: "\66";
}
.e11f-plus:before {
  content: "\67";
}
.e11f-research:before {
  content: "\68";
}
.e11f-trade:before {
  content: "\69";
}
.e11f-gem:before {
  content: "\6b";
}
.e11f-heart:before {
  content: "\6c";
}
.e11f-gem-outline:before {
  content: "\6d";
}
.e11f-person:before {
  content: "\6e";
}
.e11f-person-outline:before {
  content: "\6f";
}
.e11f-shield:before {
  content: "\70";
}
.e11f-shield-outline:before {
  content: "\71";
}
.e11f-sword-outline:before {
  content: "\72";
}
.e11f-sword:before {
  content: "\73";
}
.e11f-refresh:before {
  content: "\74";
}
.e11f-skull:before {
  content: "\6a";
}
