<div class="village-queues-container">

  <div class="e11-box-container buildings">
    <div class="box-header">
      <i class="e11-icon e11f-building"></i> {{'APPWIDE.COMMON.build' | translate}}
    </div>
    <div class="box-content define" [class.empty]="buildingsQueueIsEmpty">
      <ng-container *ngFor="let building of buildingsQueue; trackBy: trackByFn">
        <div class="box-option" *ngIf="building && building.inProgress">
          <div class="item-avatar">
            <div class="e11-avatar"
                 [style.background-image]="'url(/assets/img/buildings/thumbnails/' +
                                           ('DATA.buildings.' + building.name + '.idName' | translate) + '_' +
                                           ('DATA.buildings.' + building.name + '.image-level' | translate) + '.png)'">
            </div>
          </div>
          <div class="flex-col">
            <strong>
              {{'DATA.buildings.' + [building.name] + '.name' | translate}} - Lv. {{building.level}}
              <span class="price" [attr.color]="building.resource">
                <div class="bullet-outline"></div>{{building.price | largeNumber}}
              </span> 
            </strong>
            <span *ngIf="!building.finished">
              {{building.percent}}% {{'APPWIDE.COMMON.done' | translate}}
              ({{building.remainingBlocks | blockTime}} {{'APPWIDE.COMMON.left' | translate}})
            </span>
            <span *ngIf="building.finished" color="success">
              {{'DASHBOARD.VILLAGE_QUEUE.finishing' | translate}}
            </span>
          </div>
        </div>
      </ng-container>
      <span class="empty-queue" *ngIf="buildingsQueueIsEmpty" (click)="navigateTo.emit('buildings')">
        {{'DASHBOARD.VILLAGE_QUEUE.empty-buildings-queue' | translate}}
      </span>
    </div>
  </div>

  <div class="e11-box-container">
    <div class="box-header">
      <i class="e11-icon e11f-sword"></i> {{'APPWIDE.COMMON.barracks' | translate}}
    </div>
    <div class="box-content define" [class.empty]="unitsQueueIsEmpty">
      <ng-container *ngFor="let unit of unitsQueue; trackBy: trackByFn">
        <div class="box-option" *ngIf="unit && unit.inProgress">
          <div class="item-avatar">
            <div class="e11-avatar"
                 [style.background-image]="'url(/assets/img/units/thumbnails/' + unit.name + '.png)'">
            </div>
          </div>
          <div class="flex-col">
            <strong>
              {{'DATA.units.' + [unit.name] + '.name' | translate}}
              <ng-template [ngIf]="unit.quantity > 1">
                <ng-template [ngIf]="unit.quantity - unit.quantityInQueue >= 0">
                  {{unit.quantity - unit.quantityInQueue}}
                </ng-template>
                <ng-template [ngIf]="unit.quantity - unit.quantityInQueue < 0">
                  0
                </ng-template>
                / {{unit.quantity}}
              </ng-template>
              <span class="price" [attr.color]="unit.resource">
                <div class="bullet-outline"></div>{{(unit.price * unit.quantity) | largeNumber}}
              </span> 
            </strong>
            <span *ngIf="!unit.finished">
              {{unit.percent}}% {{'APPWIDE.COMMON.done' | translate}}
              ({{unit.remainingBlocks | blockTime}} {{'APPWIDE.COMMON.left' | translate}})
            </span>
            <span *ngIf="unit.finished" color="success">
              {{'DASHBOARD.VILLAGE_QUEUE.finishing' | translate}}
            </span>
          </div>
        </div>
      </ng-container>
      <span class="empty-queue" *ngIf="unitsQueueIsEmpty" (click)="navigateTo.emit('units')">
        {{'DASHBOARD.VILLAGE_QUEUE.empty-barracks-queue' | translate}}
      </span>
    </div>
  </div>

  <div class="e11-box-container">
    <div class="box-header">
      <i class="e11-icon e11f-research"></i> {{'APPWIDE.COMMON.research' | translate}}
    </div>
    <div class="box-content define" [class.empty]="!researchQueue.length">
      <div class="box-option" *ngFor="let research of researchQueue">
         {{'DASHBOARD.VILLAGE_QUEUE.research' | translate}}
      </div>
      <!-- <span *ngIf="!unitsQueue.length">
        Nothing researching now
        Start now!
      </span> -->
      <span>
        {{'APPWIDE.coming-soon' | translate}}
      </span>
    </div>
  </div>

</div>
