<br>
<h2>Resources</h2>

<h3>User Resources Contract - <a href="#">gh-issue</a></h3>
<br>
<button id="getResources" (click)="getResources()">Get Resources</button>
<br><br>
<button id="getUserPayoutBlock" (click)="getUserPayoutBlock()">Get Payout Block</button>
<br><br>
<input type="text" placeholder="default is you" [(ngModel)]="payoutAddress">
<button id="payoutResources" (click)="payoutResources()">Pay Resources to User</button>

<br><br>
<h3>User Buildings Contract - <a href="#">gh-issue</a></h3>
<button id="getUserBuildings" (click)="getUserBuildings()">Get User Buildings</button>
<br><br>
<button id="getAllBuildingsData" (click)="getAllBuildingsData()">Get All Buildings Data</button>
<br><br>
{{userBuildings | json}}
<br>
{{buildingsData | json}}

<br><br>
<span id="status">{{status}}</span>
