<div class="units-container">

  <e11-queue-navbar [disableCancel]="true"
                    [itemsInQueue]="unitsInQueue"
                    [queueType]="'units'"
                    [remainingBlocks]="remainingBlocks">
  </e11-queue-navbar>

  <div class="units-catalog e11-catalog">
    <div class="catalog-container" *ngIf="this.units.length">

      <div class="catalog-item"
           *ngFor="let unit of units; trackBy: trackByFn">

        <div class="hover-area">
          <div class="item-hover-info">
            <div class="item-title">
              <span class="item-name">
                {{'DATA.units.' + unit.name + '.name' | translate}}
              </span>
              <div class="item-price" [attr.color]="unit.resource">
                <div class="bullet-outline"></div> {{unit.price}}
              </div>
            </div>
            <div class="item-stats">
              <ng-template ngFor let-stat [ngForOf]="statsArray">
                <span *ngIf="unit[stat]">
                  {{'DATA.units.stats.' + stat | translate}}:
                  <span class="stat-value">
                    {{(unit[stat] | largeNumber) || '0'}}
                  </span>
                </span>
              </ng-template>
            </div>
          </div>

          <div class="item-avatar"
               [class.disabled]="unit.missingRequirements.length"
               [style.background-image]="'url(/assets/img/units/thumbnails/' + unit.name + '.png)'">
               <div class="e11-badge">
                 {{unit.quantity | largeNumber}}<!-- this comment removes the whitespace
                 --><ng-template [ngIf]="unit.quantityInQueue"> / {{(unit.quantity + unit.quantityInQueue) | largeNumber}}</ng-template>
               </div>
          </div>
        </div>

        <div class="item-info">

          <div class="item-title">
            <span class="item-name">
              {{'DATA.units.' + unit.name + '.name' | translate}}
            </span>

            <span class="item-price" [attr.color]="unit.resource">
              <div class="bullet-outline"></div>
              {{((unit.price * (unitsToRecruit[unit.id]) | largeNumber) || 1)}}
            </span>
            <span class="item-time">
              <i class="e11-icon e11f-clock"></i>
              <ng-template [ngIf]="unitsToRecruit[unit.id]">
                {{unit.blocks * unitsToRecruit[unit.id]}} Blocks
                ({{unit.blocks * unitsToRecruit[unit.id] | blockTime}})
              </ng-template>
            </span>
          </div>

          <div class="item-description">
            {{'DATA.units.' + unit.name + '.description' | translate}}
          </div>

          <div class="e11-slider item-slider"
               *ngIf="playerResources[unit.resource] / unit.price > 1 &&
                      !unit.missingRequirements.length">
            <input type="range"
                   min="1"
                   [disabled]="unit.waiting"
                   [max]="playerResources[unit.resource] / unit.price | round"
                   [(ngModel)]="unitsToRecruit[unit.id]">
          </div>

          <button class="item-button e11-button"
                  type="button"
                  [class.disabled]="playerResources[unit.resource] < unit.price ||
                                    unit.waiting"
                  *ngIf="!unit.missingRequirements.length"
                  (click)="itemActionRecruit(unit, unitsToRecruit[unit.id])">
            <ng-template [ngIf]="playerResources[unit.resource] >= unit.price && !unit.waiting ">
              {{
                'DATA.units.states.recruit' | translate : {
                                                amount: (unitsToRecruit[unit.id] | largeNumber),
                                                unit: ('DATA.units.' + unit.name + '.name' | translate)
                                              }
              }}
            </ng-template>
            <ng-template [ngIf]="playerResources[unit.resource] < unit.price && !unit.waiting">
              {{ 'APPWIDE.not-enough-resources' | translate : { resource: ('DATA.RESOURCES.' + unit.resource | translate).toLowerCase() } }}
            </ng-template>
            <ng-template [ngIf]="unit.waiting">
              {{ 'APPWIDE.waiting-for-transaction-dots' | translate }}
            </ng-template>
          </button>

          <div class="requirements-overview"
               *ngIf="unit.missingRequirements &&
                      unit.missingRequirements.length">
            <span>{{ 'APPWIDE.requires' | translate }}</span>
            <div class="requirement-image"
                 tooltip-position="bottom"
                 [attr.tooltip]="('DATA.buildings.' + buildingsMap[requirement].name + '.name' | translate) + ' Lv. ' + buildingsMap[requirement].level"
                 [style.background-image]="'url(/assets/img/buildings/thumbnails/' +
                                           ('DATA.buildings.' + buildingsMap[requirement].name + '.idName' | translate) + '_' +
                                           ('DATA.buildings.' + buildingsMap[requirement].name + '.image-level' | translate) + '.png)'"

                 *ngFor="let requirement of unit.missingRequirements">
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="loading-text" *ngIf="!this.units.length">
      {{ 'DATA.units.states.fetching-available-units' | translate }}
    </div>
  </div>

</div>
