:host {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.buildings-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 1rem;

  .buildings-catalog {
    margin-top: 2rem;
  }
}
