<div class="buildings-container">

  <e11-queue-navbar [itemsInQueue]="buildingsInQueue"
                    [queueType]="'buildings'"
                    [remainingBlocks]="remainingBlocks"
                    (itemClicked)="cancelBuilding($event)">
  </e11-queue-navbar>

  <div class="buildings-catalog e11-catalog">
    <div class="catalog-container" *ngIf="this.availablePlayerBuildings.length">

      <div class="catalog-item" *ngFor="let building of availablePlayerBuildings; trackBy: trackByFn">

        <div class="hover-area">
          <div class="item-hover-info">
            <div class="item-title">
              <span class="item-name">
                Lv. {{building.level}}
                {{building.owned && building.nextLevelId? '-> Lv. ' + buildingsMap[building.nextLevelId].level: null}}
                Stats
              </span>
            </div>
            <div class="item-stats">
              <ng-template ngFor let-stat [ngForOf]="statsArray">
                <span *ngIf="building[stat] ||
                             (buildingsMap[building.nextLevelId] &&
                             buildingsMap[building.nextLevelId][stat] !== building[stat])">
                  {{'DATA.buildings.stats.' + stat | translate}}:
                  <span class="stat-value">
                    {{(building[stat] | largeNumber) || '0'}}
                    <span class="stat-upgraded"
                          *ngIf="buildingsMap[building.nextLevelId] &&
                                 buildingsMap[building.nextLevelId][stat] != building[stat]">
                      (+{{buildingsMap[building.nextLevelId][stat] - building[stat] | largeNumber}})
                    </span>
                  </span>
                </span>
              </ng-template>
            </div>
          </div>

          <div class="item-avatar"
               [class.disabled]="buildingsMap[building.nextLevelId] ? buildingsMap[building.nextLevelId].missingRequirements.length : null"
               [style.background-image]="'url(/assets/img/buildings/thumbnails/' +
                                         ('DATA.buildings.' + [building.name] + '.idName' | translate) + '_' +
                                         ('DATA.buildings.' + [building.name] + '.image-level' | translate) + '.png)'"
               *ngIf="building.owned">
          </div>
          <div class="item-avatar"
               [class.disabled]="building.missingRequirements.length"
               [style.background-image]="'url(/assets/img/buildings/thumbnails/' +
                                         ('DATA.buildings.' + [building.name] + '.idName' | translate) + '_' +
                                         ('DATA.buildings.' + [building.name] + '.image-level' | translate) + '.png)'"
               *ngIf="!building.owned">
          </div>
        </div>
        <div class="item-info">

          <div class="item-title">
            <span class="item-name"*ngIf="building.owned">
              {{'DATA.buildings.' + [building.name] + '.name' | translate}} - Lv. {{building.level}}
            </span>
            <span class="item-name" *ngIf="!building.owned">
              {{'DATA.buildings.' + [building.name] + '.name' | translate}}
            </span>

            <ng-template [ngIf]="building.owned && building.nextLevelId && !building.inProgress">
              <span class="item-price" [attr.color]="buildingsMap[building.nextLevelId].resource">
                <div class="bullet-outline">
                </div>
                {{buildingsMap[building.nextLevelId].price | largeNumber}}
              </span>
              <span class="item-time">
                <i class="e11-icon e11f-clock"></i>
                {{buildingsMap[building.nextLevelId].blocks}} Blocks
                ({{buildingsMap[building.nextLevelId].blocks | blockTime}})
              </span>
            </ng-template>

            <ng-template [ngIf]="!building.owned && !building.inProgress">
              <span class="item-price" [attr.color]="building.resource">
                <div class="bullet-outline"></div>{{building.price | largeNumber}}
              </span>
              <span class="item-time">
                <i class="e11-icon e11f-clock"></i>
                {{building.blocks}} Blocks
                ({{building.blocks | blockTime}})
              </span>
            </ng-template>
          </div>

          <div class="item-description">
            {{'DATA.buildings.' + [building.name] + '.description' | translate}}
          </div>

          <ng-template [ngIf]="!building.owned">
            <button class="item-button e11-button"
                    type="button"
                    [class.disabled]="building.maxLevel ||
                                      playerResources[building.resource] < building.price ||
                                      building.inProgress ||
                                      building.waiting"
                    *ngIf="!building.missingRequirements.length"
                    (click)="itemActionBuild(building)">
                <ng-container *ngIf="!building.inProgress">
                  <ng-template [ngIf]="playerResources[building.resource] >= building.price &&
                                       !building.waiting">
                      {{ 'APPWIDE.COMMON.build' | translate }}
                    </ng-template>
                    <ng-template [ngIf]="playerResources[building.resource] < building.price &&
                                         !building.waiting">
                     {{
                       'APPWIDE.not-enough-resources' |  translate : {
                                                            resource: ('DATA.RESOURCES.' + building.resource | translate).toLowerCase()
                                                          }
                     }}
                    </ng-template>
                    <ng-template [ngIf]="building.waiting">
                      {{ 'APPWIDE.waiting-for-transaction-dots' | translate }}
                    </ng-template>
                  <ng-template [ngIf]="building.maxLevel">
                    {{ 'DATA.buildings.states.max-level' | translate }}
                  </ng-template>
                </ng-container>
                <ng-template [ngIf]="building.inProgress">
                  {{ 'DATA.buildings.states.creating-building' | translate }}
                </ng-template>
            </button>

            <div class="requirements-overview"
                 *ngIf="!building.inProgress &&
                        building.missingRequirements &&
                        building.missingRequirements.length">
              <span>{{ 'APPWIDE.requires' | translate }}</span>

              <div class="requirement-image"
                   tooltip-position="bottom"
                   [attr.tooltip]="('DATA.buildings.' + buildingsMap[requirement].name + '.name' | translate) + ' Lv. ' + buildingsMap[requirement].level"
                   [style.background-image]="'url(/assets/img/buildings/thumbnails/' +
                                             ('DATA.buildings.' + buildingsMap[requirement].name + '.idName' | translate) + '_' +
                                             ('DATA.buildings.' + buildingsMap[requirement].name + '.image-level' | translate) + '.png)'"
                   *ngFor="let requirement of building.missingRequirements">
              </div>
            </div>
          </ng-template>

          <ng-template [ngIf]="building.owned">
            <button class="item-button e11-button"
                    type="button"
                    [class.disabled]="building.maxLevel ||
                                      playerResources[buildingsMap[building.nextLevelId].resource] < buildingsMap[building.nextLevelId].price ||
                                      building.inProgress ||
                                      building.waiting"
                    *ngIf="building.inProgress || !(buildingsMap[building.nextLevelId] && buildingsMap[building.nextLevelId].missingRequirements.length)"
                    (click)="itemActionBuild(building)">
                <ng-container *ngIf="!building.inProgress">
                  <ng-template [ngIf]="!building.maxLevel">
                    <ng-template [ngIf]="playerResources[buildingsMap[building.nextLevelId].resource] >= buildingsMap[building.nextLevelId].price &&
                                         !building.waiting">
                      {{ 'DATA.buildings.states.upgrade-to-level' | translate : { level: buildingsMap[building.nextLevelId].level } }}
                    </ng-template>
                    <ng-template [ngIf]="playerResources[buildingsMap[building.nextLevelId].resource] < buildingsMap[building.nextLevelId].price &&
                                         !building.waiting">
                      {{ 'APPWIDE.not-enough-resources' | translate : { resource: ('DATA.RESOURCES.' + buildingsMap[building.nextLevelId].resource | translate).toLowerCase() } }}
                    </ng-template>
                    <ng-template [ngIf]="building.waiting">
                      {{ 'APPWIDE.waiting-for-transaction-dots' | translate }}
                    </ng-template>
                  </ng-template>
                  <ng-template [ngIf]="building.maxLevel">
                    {{ 'DATA.buildings.states.max-level' | translate }}
                  </ng-template>
                </ng-container>
                <ng-template [ngIf]="building.inProgress">
                  {{ 'DATA.buildings.states.upgrading-building' | translate }}
                </ng-template>
            </button>

            <div class="requirements-overview"
                 *ngIf="!building.inProgress &&
                        buildingsMap[building.nextLevelId] &&
                        buildingsMap[building.nextLevelId].missingRequirements &&
                        buildingsMap[building.nextLevelId].missingRequirements.length">
              <span>{{ 'APPWIDE.requires' | translate }}</span>

              <div class="requirement-image"
                   tooltip-position="bottom"
                   [attr.tooltip]="('DATA.buildings.' + buildingsMap[requirement].name + '.name' | translate) + ' Lv. ' + buildingsMap[requirement].level"
                   [style.background-image]="'url(/assets/img/buildings/thumbnails/' +
                                             ('DATA.buildings.' + buildingsMap[requirement].name + '.idName' | translate) + '_' +
                                             ('DATA.buildings.' + buildingsMap[requirement].name + '.image-level' | translate) + '.png)'"
                   *ngFor="let requirement of buildingsMap[building.nextLevelId].missingRequirements">
              </div>
            </div>

          </ng-template>
        </div>

      </div>
    </div>

    <div class="loading-text" *ngIf="!this.availablePlayerBuildings.length">
      {{ 'DATA.buildings.states.fetching-available-buildings' | translate }}
    </div>
  </div>

</div>
