<div class="village-extras-container">
  <div class="e11-box-container village-boosts">
    <div class="box-header">
      {{ 'DASHBOARD.VILLAGE_EXTRAS.boosts' | translate }}
    </div>
    <div class="box-content stripe" [class.empty]="true">
      <!--div class="box-option" *ngFor="let i of [1,2,3,4]">
        <div class="bullet-outline"></div>{{buildingsData[building.id].price}}
        <span>test</span>
      </div-->
      {{ 'APPWIDE.coming-soon' | translate }}
    </div>
  </div>

  <div class="e11-box-container village-alliance">
    <div class="box-header">
      {{ 'DASHBOARD.VILLAGE_EXTRAS.alliance' | translate }}
    </div>
    <div class="box-content empty">
      {{ 'APPWIDE.coming-soon' | translate }}
    </div>
  </div>
</div>
