<div class="village-info-container">

  <div class="village-header">
    <h2>{{villageName}}</h2>
    <span class="status" [ngClass]="{'online': true,
                                    'offline': false}">
      <div class="bullet"></div> {{ 'DASHBOARD.VILLAGE_INFO.online' | translate }}
    </span>
  </div>

  <div class="village-stats e11-box-container">

    <div class="village-resources">
      <div class="flex">
        <div class="village-resource gold">
          <span class="title">
            {{'DATA.RESOURCES.gold' | translate}} <strong class="rate">+{{playerResources.rates.gold | largeNumber}} {{ 'DASHBOARD.VILLAGE_INFO.rate' | translate }}</strong>
          </span>
          <h1 class="qty">
            {{playerResources.gold | largeNumber}}
            <span class="capacity"> / {{playerResources.goldCapacity | largeNumber}}</span>
          </h1>
          <div class="e11-progress-bar">
            <div class="bar" [style.width]="playerResources.gold * 100 / playerResources.goldCapacity + '%'">
            </div>
          </div>
        </div>
        <div class="village-resource crystal">
          <span class="title">
            {{'DATA.RESOURCES.crystal' | translate}} <strong class="rate">+{{playerResources.rates.crystal | largeNumber}} {{ 'DASHBOARD.VILLAGE_INFO.rate' | translate }}</strong>
          </span>
          <h1 class="qty">
            {{playerResources.crystal | largeNumber}}
            <span class="capacity"> / {{playerResources.crystalCapacity | largeNumber}}</span>
          </h1>
          <div class="e11-progress-bar">
            <div class="bar" [style.width]="playerResources.crystal * 100 / playerResources.crystalCapacity + '%'">
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="village-resource e11">
          <span class="title">{{'DATA.RESOURCES.e11Balance' | translate}}</span>
          <h1 class="qty">{{playerBalance | largeNumber}}</h1>
        </div>
        <div class="village-resource quantum">
          <span class="title">{{'DATA.RESOURCES.quantum-dust' | translate}}</span>
          <h1 class="qty">{{playerResources.quantum | largeNumber}}</h1>
        </div>
      </div>
    </div>

    <div class="village-extra">
      <div class="flex">
        <div class="stat">
          <span class="title">{{'ASSETS.TABS.buildings' | translate}}</span>
          <span class="qty" size="small">{{ 'DASHBOARD.VILLAGE_INFO.currently-have' | translate : { buildings: ownedBuildings.length } }}</span>
        </div>
        <div class="stat">
          <span class="title">{{'DASHBOARD.VILLAGE_INFO.population' | translate}}</span>
          <span class="qty" size="small">{{ 'DASHBOARD.VILLAGE_INFO.currently-living' | translate : { living: (unitsQuantity | largeNumber) } }}</span>
        </div>
        <div class="stat">
          <span class="title">{{'ASSETS.TABS.research' | translate}}</span>
          <span class="qty" size="small">{{ 'DASHBOARD.VILLAGE_INFO.currently-researching' | translate : { researching: 0 } }}</span>
        </div>
      </div>
      <!--
      <button class="e11-button" type="button" (click)="navigateTo.emit('buildings')">
        Upgrade Village
      </button>
      -->
    </div>

  </div>


</div>
