<div class="assets-container">
  <div class="e11-segments">
      <div class="e11-segment" routerLink="/assets/buildings" routerLinkActive="active">
          {{'ASSETS.TABS.buildings' | translate}}
      </div>
      <div class="e11-segment" routerLink="/assets/units" routerLinkActive="active">
          {{'ASSETS.TABS.offense' | translate}}
      </div>
      <div class="e11-segment disabled"
           routerLink="/assets/defense"
           routerLinkActive="active"
           [attr.tooltip]="'APPWIDE.coming-soon' | translate">
          {{'ASSETS.TABS.defense' | translate}}
      </div>
      <div class="e11-segment disabled"
           routerLink="/assets/research"
           routerLinkActive="active"
           [attr.tooltip]="'APPWIDE.coming-soon' | translate">
          {{'ASSETS.TABS.research' | translate}}
      </div>
  </div>

  <router-outlet></router-outlet>

</div>
