:host {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.assets-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  .e11-segments {
    justify-content: center;
    margin-top: 3rem;
  }

  /deep/ {
    e11-buildings,
    e11-units {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
    .buildings-container,
    .defense-container,
    .research-container,
    .units-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      overflow-y: auto;
      margin-top: 1rem;
      padding: 0 13vw;
    }

    .e11-catalog {
      margin-top: 2rem;
      flex-shrink: 0;

      .item-unavailable {
        .title .name {
          font-weight: bold;
        }
      }
    }
  }
}
